/* ---------- specification ---------- */
@import 'normalize.css';

@font-face {
  src: url('../fonts/BIG\ JOHN.otf');
  font-family: 'BigJohn';
}

    
html {
    font-size: 10px;
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &:focus {
        outline: none;
    }
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}
  
.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 0;
}


/*------header------*/

.header__content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}
.header__menu{
    margin-top: 20px;
    width: 50%;
}
.menu{
    display: flex;
    justify-content: space-around;
    &__link{
        color: #000000;
        font-size: 2rem;
        padding: 10px 15px;
        border: 1px solid #000000;
        border-radius: 25px;
        transition: all 0.6s;
        &:hover{
            color: #ffffff;
            background-color: #000000;
        }
    }
}


/*---------about--------*/
.about {
    &__content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: justify;
        margin-top: 50px;
    }
    &__information {
        font-size: 1.8rem;
        margin-top: 20px;
        & > .welcome{
            font-size: 2.5rem;
            text-align: center;
        }
        & > p{
            text-indent: 35px;
            line-height: 25px;
            padding: 10px 0;
            & > span{
                font-weight: bold;
            }
        }
        & > .problems{
            text-align: left;
        }
    }
}



/*-----price---------*/

.price{
    margin-top: 50px;
    &__content{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-around;
    }
    &__title{
        width: 100%;
        font-size: 2rem;
        margin-bottom: 30px;
    }
    &__left{
        width: 45%;
        margin-bottom: 10px;
    }
    &__right{
        width: 45%;
        margin-bottom: 10px;
    }
    &__item{
        &:nth-child(even){
            background-color: grey;
        }
        &:nth-child(odd){
            background-color: lightsteelblue;
        }
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 2rem;
        padding: 10px;
    }
}

/*-----contacts-------*/

.contacts{
    margin-top: 50px;
    &__content{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        text-align: center;
        justify-content: space-around;
    }
    &__title{
        font-size: 2rem;
        width: 100%;
    }
    &__velcom{
        width: 45%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 3rem;
        margin-top: 50px;
    }
    &__mts{
        @extend .contacts__velcom
    }
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    &__txt{
        font-size: 2rem;
        margin-top: 50px;
        margin-bottom: 40px;
    }
    &__input{
        font-size: 2rem;
        width: 440px;
        height: 50px;
        margin: 5px;
    }
    &__btn{
        width: 440px;
        height: 50px;
        margin: 5px;
    }
}